/* COMMON */
body {
	margin: 0;
	padding: 0;
	color: #222;
}
a {
	text-decoration: none;
	color: #222;
}

/* MAIN */
input[name="tabmenu"] {
	display: none;
}
.tabs {
	overflow: hidden;
	position: relative;
	height: 100vh;
}
.items {
	height: 100vh;
	width: 300%;
	transition: 0.5s;
	position: absolute;
	top: 0;
	left: 0;
}
.items div {
	height: 100vh;
	float: left;
	width: 33.3333%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.items div:nth-child(1) {
	background: url("./images/photo-1.jpg") no-repeat center center;
	background-size: cover;
}
.items div:nth-child(2) {
	background: url("./images/photo-2.jpg") no-repeat center center;
	background-size: cover;
}
.items div:nth-child(3) {
	background: url("./images/photo-3.jpg") no-repeat center center;
	background-size: cover;
}

.items div h1 {
	font-size: 80px;
	font-weight: normal;
}

.btn {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.btn label {
	display: inline-block;
	height: 5px;
	width: 50px;
	background-color: #fff;
	border: 1px solid #ced4da;
	cursor: pointer;
}
input[id="tab1"]:checked ~ .tabs .items {
	left: 0;
}
input[id="tab2"]:checked ~ .tabs .items {
	left: -100%;
}
input[id="tab3"]:checked ~ .tabs .items {
	left: -200%;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
	background-color: #495057;
}

/* CONTENT */
.content-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.content-inner article {
	width: 980px;
	height: 500px;
}
.heading {
	text-align: center;
	height: 100px;
}
.heading h1 {
	font-size: 36px;
}
.content .accordian {
	width: 50%;
	float: left;
	height: 400px;
	box-sizing: border-box;
	padding-top: 100px;
}
.title {
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
	padding-left: 15px;
	transition: 0.3s;
	margin-bottom: 10px;
}
.title:after {
	content: "\f105";
	font-family: fontawesome;
	float: right;
	margin-right: 5px;
	margin-top: 3px;
}
.title:hover,
.title.active {
	background-color: #203049;
	color: #fff;
}
.title.active:after {
	transform: rotate(90deg);
	color: orange;
}
.desc {
	padding: 15px;
	line-height: 2;
	display: none;
}
.desc.active {
	display: block;
}

.image {
	border: 1px solid green;
	background: green;
	width: 50%;
	float: right;
	height: 400px;
	box-sizing: border-box;
	padding-top: 100px;
}
